[Unit]
Description=Strfry relay
After=network.target

[Service]
Type=simple
User=strfry
Group=strfry
WorkingDirectory=/var/lib/strfry
ExecStart=/usr/bin/strfry relay --config /etc/strfry.conf
Restart=on-failure
RestartSec=2s
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
